<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="API Automation Suite" parallel="none">

    <test name="User API Tests">
        <classes>
            <class name="com.abhinav.tests.GetUserApiTest"/>
            <class name="com.abhinav.tests.CreateUserApiTest"/>
            <class name="com.abhinav.tests.CreatePostApiTest"/>
            <class name="com.abhinav.tests.GetUserTest"/>
            <class name="com.abhinav.tests.PostAPITest"/>
            <class name="com.abhinav.tests.PostEchoTest"/>
            <class name="com.abhinav.tests.PostOrderTest"/>
            <class name="com.abhinav.tests.DynamicJson"/>
            <class name="com.abhinav.tests.SerializeTest"/>
            <class name="com.abhinav.tests.SpecBuilderTest"/>
            <class name="com.abhinav.tests.SpaceXLaunchTest"/>
            <class name="com.abhinav.tests.HttpBinPostTest"/>
            <class name="com.abhinav.tests.ComplexPayloadTest"/>
            <class name="com.abhinav.tests.FormDataTest"/>
        </classes>
    </test>

</suite>