name: Docker API Automation Tests

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  docker-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t api-automation-tests .

      - name: Run tests inside Docker
        run: docker run api-automation-tests
